* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Birthstone Bounce";
    src: url("../font/BirthstoneBounce-Regular.ttf");
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.brief {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    color: #632104;
    position: relative;
}

.brief__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100rem;
    font-family: "Birthstone Bounce";
}

.brief__text__title {
    font-size: 6rem;
    font-weight: 500;
    padding: 1rem;
}

.brief__text {
    font-size: 3.6rem;
    line-height: 200%;
}

.highlight {
    color: blue;
    font-weight: 500;
    font-size: 4.6rem;
    animation: highlight 2s ease-in-out infinite;
    text-decoration: none;
}

@keyframes highlight {

    0%,
    40%,
    80% {
        color: rgb(0, 0, 139);
    }

    20%,
    60%,
    100% {
        color: rgb(0, 0, 0);
    }

}


/* POPUP */

.popup__collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.popup {
    width: 70vw;
    height: 40vh;
    display: flex;
    color: black;
    border: 1px solid black;
    background-color: red;
}

.popup__figure {
    padding: 2rem;
    width: 40%;
}

.popup__img {
    background-color: rgb(0, 0, 139);
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.popup__text {
    display: none;
    flex-direction: column;
    padding: 2rem;
    width: 60%;
    font-size: 2rem;
    gap: 1.4rem;
}

.popup__title {
    font-family: "Birthstone Bounce";
    font-size: 5rem;
    font-weight: 500;
}

.close-button {
    margin: 2rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    background: white(0, 0, 139);
    color: rgb(0, 0, 139);
    border: 2px solid rgb(0, 0, 139);
}

#schip-t-wapen {
    display: none;
}

#amsterdam {
    display: none;
}

#rivier-mauritius {
    display: none;
}